*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    background-color: white;
}

.site-logo {
    font-size: 24px;
}

.site-logo a {
    color: black;
    font-weight: normal;
}

.site-logo a span {
    font-weight: bold;
    color: #1B1A1A;
}

.navigation .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.navigation .nav-list li a {
    color: #1B1A1A;
    font-size: 15px;
}

.cta-button {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    padding: 12px 24px;
    background-color: #1B1A1A;
    border-radius: 14px;
    color: white;
    font-size: 16px;
    letter-spacing: 0.4px;
}

/* Tablet: 768px – 991px */
@media (max-width: 991px) {
    header {
        padding: 0 0;
    }

    .navigation .nav-list {
        gap: 20px;
    }
}

/* Mobile: <768px */
@media (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 15px;
        height: auto;
    }

    .navigation .nav-list {
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }

    .cta-button {
        width: 100%;
        text-align: center;
        padding: 12px 0;
    }
}

/* main */

/* main {} */

/* hero */

.hero {
    display: flex;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ECE7E4;
    padding: 5rem;
    flex: 1
}

.hero-content-firstParagraph {
    color: #645C55;
    line-height: 20px;
    letter-spacing: 2px;
    font-size: 14px;
}

.hero-content h1 {
    color: #1B1A1A;
    line-height: 70.4px;
    font-size: 64px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 18px;
}

.hero-content-firstParagraphTwo {
    color: #403E3B;
    line-height: 24px;
    font-size: 16px;
    margin-top: 0;
    max-width: 500px;
}

.hero-link {
    display: block;
    color: #1B1A1A;
    line-height: 24px;
    letter-spacing: 0.4px;
    font-size: 16px;
    padding: 16px;
}

.hero-image img {
    width: 100%;
    height: 100%;
    display: block;
}

/* Tablet: 768px – 991px */
@media (max-width: 991px) {
    .hero {
        flex-direction: column;
    }

    .hero-content {
        padding: 3rem;
    }

    .hero-content h1 {
        font-size: 48px;
        line-height: 56px;
    }

    .hero-content-firstParagraphTwo {
        font-size: 15px;
        line-height: 22px;
    }

    .hero-link {
        font-size: 15px;
    }
}

/* Mobile: <768px */
@media (max-width: 767px) {
    .hero {
        flex-direction: column;
        /* текст сверху, картинка снизу */
    }

    .hero-content-firstParagraph {
        font-size: 12px;
        letter-spacing: 1.5px;
    }

    .hero-content-firstParagraphTwo {
        font-size: 14px;
        line-height: 20px;
    }

    .hero-link {
        width: 100%;
        text-align: center;
        font-size: 14px;
        padding: 12px 0;
    }

    .hero-image img {
        width: 100%;
    }
}

/* firm-section */

.firm-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
    background-color: white;
}

.firm-section h2 {
    color: #403E3B;
    line-height: 38px;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    padding-top: 6rem;
}

.firm-text {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    gap: 10px;
}

.firm-section .firm-text p {
    color: #403E3B;
    line-height: 24px;
    font-size: 16px;
    max-width: 500px;
    margin-top: 0;
    margin-bottom: 10px;
}

.firm-sectionFigure {
    display: flex;
    gap: 30px;
    margin: 0;
}

.firm-section .firm-text .firm-sectionFigure h3 {
    color: #1B1A1A;
    line-height: 26px;
    font-size: 17px;
    margin-bottom: 0;
    font-weight: normal;
}

.firm-section .firm-text .firm-sectionFigure p {
    color: #645C55;
    line-height: 14px;
    font-size: 14px;
    margin-top: 0;
}

@media (max-width: 767px) {
    .firm-section {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .firm-section h2 {
        color: #403E3B;
        line-height: 38px;
        font-size: 32px;
        font-weight: normal;
        text-align: center;
        padding-top: 6rem;
        margin-bottom: 0;
    }

    .firm-section .firm-text p {
        color: #403E3B;
        line-height: 24px;
        font-size: 14px;
        max-width: 400px;
        margin-top: 0;
        margin-bottom: 10px;
    }
}

/* Reeding-section */

.reeding-section {
    background-image: url("images/Reeding House.png");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 100px;
}

.reeding-sectionText {
    display: flex;
    flex-direction: column;
    margin-right: 180px;
    max-width: 300px;
}

.reeding-section h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 2px;
    font-weight: normal;
    color: #403E3B;
    padding: 0;
    margin: 0;
}

.reeding-section p {
    font-size: 17px;
    line-height: 24px;
    color: #645C55;
    padding: 0;
    margin: 0;
}


@media (max-width: 767px) {
    .reeding-section {
        justify-content: center;
    }

    .reeding-sectionText {
        margin-right: 0;
    }
}
